.course-list {
  list-style-type: none;
}

.course-list__item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 8px;

  & + & {
    margin-top: 8px;
  }
}

.course-list__item-attributes {
  
}

.course-list__item-attribute {
  font-size: 12px;
  color: #aaaaaa;
}